*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Optima', sans-serif;
}
body{
    background-color: #c3dfe2 !important;
    background-image: linear-gradient(-90deg,#74c8cf,#0eb6ee) !important;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
}
h1, p{
    position: apsolute;
    color: rgb(255, 255, 255);
    font-size: 50px !important;
}
h1{
    font-size: 60px;
    margin: 20px;
    bottom: 130px;
}
p{
    font-size: 15px;
    bottom: 50px;
}
.container{
    padding-top: 200px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
.novcic{
    height: 250px;
    width: 250px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.novcic img {
    width: 245px;
}

.glava, .pismo{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pismo{
    transform: rotateX(180deg);
}

@keyframes spin-pismo{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}

@keyframes spin-glava{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}


@keyframes move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.btn {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px !important;
}
.btn-primary{
    background-color: #00779e !important;
}
.btn-primary:hover{
    background-color: #005e7e !important;
}

footer{
    margin-top: 30px;
    background-color: #3d3d3d !important;
}
footer .container{
    min-height: 0%;
}
footer p{
    color: #c2c2c2;
    font-size: medium !important;
}